@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300&display=swap');

:root {
  font-size: 62.5%;
  --fira-code: 'Fira Code', monospace;
  --roboto-mono: 'Roboto', sans-serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: var(--fira-code);
  color: #e6af25;
  margin: 10px 0;
  font-weight: 300;
}

.contato-email, .contato-linkedin {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #e6af25;
  margin: 1rem 40rem;
  border-radius: 5px;
  font-family: var(--fira-code);
}

div.contato-email p, div.contato-linkedin a {
  font-size: 2rem;
}

img.mail-img, img.linkedin-img {
  width: 5rem;
}

img.img-contato {
  display: block;
  margin: 0 10rem;
  width: 70rem;
}

.sec2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sec2 h2 {
  font-family: var(--roboto-mono);
  font-size: 3rem;
  color: #e6af25;
  font-weight: 300;
}

.sec2 p {
  font-family: var(--roboto-mono);
  font-size: 1.5rem;
  color: #e6af25;
  font-weight: 300;
  margin: 0.3rem;
}

iframe {
  margin: 1rem;
  width: 50rem;
  height: 29rem;
  border-radius: 5px;
}

