@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:wght@300&display=swap');

:root {
  font-size: 62.5%;
  --fira-code: 'Fira Code', monospace;
  --roboto-mono: 'Roboto', sans-serif;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: var(--fira-code);
  color: #e6af25;
  margin: 10px 0;
}

img.about-me {
  width: 30rem;
  display: block;
  margin: 1.8rem auto;
}

div p{
  font-size: 1.7rem;
  font-family: var(--roboto-mono);
  padding: 10px 0;
  text-align: center;
  margin: 0 100px;
  color: #09090A;
  background: #e6af25;
  line-height: 2;
}

div p a.rpg-link  {
  color: #FEF08A;
}

.rpg-link:hover {
  color: #CA8A04;
}

.foto-ana {
  display: flex;
  margin: 30px auto;
  border: 5px solid #e6af25;
  border-radius: 100%;
}